@page "/Evouchers"
@attribute [Authorize]

<h1>eVouchers</h1>

<p>All eVouchers in your eShop.</p>

@if (evouchers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Exp.</th>
                    <th>Title/Desc</th>
                    <th>Amount</th>
                    <th>Payment/Discount</th>
                    <th>Qty</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Exp.</th>
                    <th>Title/Desc</th>
                    <th>Amount</th>
                    <th>Payment/Discount</th>
                    <th>Qty</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var voucher in evouchers)
                {
                    <tr>
                        <td align="center">
                            <strong>@voucher.ExpireDate.ToString("dd/MM/yyyy")</strong><br />
                            <small>@voucher.BuyType</small>
                        </td>

                        <td>
                            <strong>@voucher.Title</strong><br />
                            <small>@voucher.Description</small>
                        </td>
                        <td align="right">
                            <strong>@voucher.Amount</strong>
                        </td>
                        <td align="center">
                            <strong>@voucher.DicountedPaymentMethod.Description</strong><br />
                            @voucher.DiscountOnPaymentMethod %
                        </td>
                        <td align="right" valign="baseline">@voucher.Quantity</td>
                        <td align="center">
                            <button @onclick="@(e=>ChangeStatus(voucher.Id))" class="btn @(voucher.IsActive ? "btn-outline-primary":"btn-primary") btn-sm">
                                @if (voucher.IsActive)
                                {
                                    <b>Make Inactive</b>
                                }
                                else
                                {
                                    <b>Make Active</b>
                                }
                            </button>
                        </td>
                        <td align="center">
                            <a href="EditVoucher/@voucher.Id" class="btn btn-primary btn-sm">Edit</a><br /><br />
                            <a href="DeleteVoucher/@voucher.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}